#steel_blue {
    color: #4f7cac
}

#powder_blue {
    color: #c0e0de
}

#powder_blue2 {
    background-color: #c0e0de
}

#dark_jungle_green {
    color: #162521
}

#charcoal {
    color: #3c474b
}

#middle_blue_green {
    color: #9eefe5
}
