/* create headline class which shows text the left of screen if screen is large or center if screen is small */
.homepage {
}

.title {
    display: none;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0;
}

.headline {
    color: #1F1F1F;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    left: 0;
}


.slideshow {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.project-card {
    position: relative;
    right: 0;
    display: block;
    border: gray;
    border-radius: 25px;
    border: 2px solid #000000;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
}

/* Hide the images by default */
.slidesContainer {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 48%;
    width: auto;
    padding: 0.5%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    /* Position the "next button" to the right */
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshowCaption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0px;
    position: relative;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.activeimg {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* center headline if scree nis less than 600px */
@media screen and (max-width: 600px) {
    .headline {
        text-align: center;
        font-size: 2em;
    }

    .slideshow {
        width: 100%;
        margin: 0 auto;
    }

    .project-card {
        position: center;
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 600px) {
    .headline {
        text-align: left;
        font-size: 3em;
    }

    .project-card {
        width: 400px;
        height: 400px;
    }
}

/* set headline to 7em if screen is greater than 1500px */
@media screen and (min-width: 1500px) {
    .headline {
        font-size: 4em;
    }

    .project-card {
        width: 500px;
        height: 500px;
    }
}

/* set headline to 7em if screen is greater than 1500px */
@media screen and (min-width: 1800px) {
    .headline {
        font-size: 5.5em;
    }

    .project-card {
        width: 600px;
        height: 600px;
    }
}