/* create headline class which shows text the left of screen if screen is large or center if screen is small */
.homepage {
}

.headline {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homepageslide {
    width: 600px;
    height: 600px;
}

.headline-container {
    width: 40%;
}

.image-cover-shadow {
    box-shadow: 0 0 0px 300px rgba(0, 0, 0, 0.3) inset;
!important z-index: 10;
}

.image-cover-shadow img {
    position: relative;
    z-index: -1;
}

.homepage-banner {
    display: flex;
    align-items: center;
    height: min-content;
    justify-content: space-between;
}

.home-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-card {
    max-width: 23rem;
    margin: 15px;
}

/* media query for small screens */
@media screen and (max-width: 900px) {
    .headline {
        font-size: 6.5vw;
        text-align: center;
    }

    .headline-container {
        width: 90%;
    }

    .homepageslide {
        width: 70vw;
        height: 70vw;
    }

    .homepage-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navButtons {
        display: none;
    }
}

@media screen and (min-width: 901px) {
    .headline {
        font-size: 4.5vw;
    }

    .homepageslide {
        width: 350px;
        height: 350px;
    }

    .homepage-banner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navButtons {
        display: none;
    }
}


@media screen and (min-width: 1000px) {
    .headline {
        font-size: 3.5em;
    }

    .homepageslide {
        width: 450px;
        height: 450px;
    }

    .navButtons {
        display: flex;
        justify-content: left;
    }
}

@media screen and (min-width: 1400px) {
    .headline {
        font-size: 4.5em;
    }

    .homepageslide {
        width: 550px;
        height: 550px;
    }
}
