.home-header {
    background-attachment: scroll, scroll, scroll;
    background-image: url("/static/graphics/banner.jpg");
    background-position: bottom center, top left, center center;
    background-repeat: repeat-x, repeat, no-repeat;
    background-size: cover;
    height: 20vh;
    color: rgba(255, 255, 255, 1);
    position: relative;
    text-align: center;
}