.main-content {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-size: 20px;
    font-family: Roboto, Calibri, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 1.4;

}

@media (min-width: 768px) {
    body {
        font-size: 22px;
    }
}

/* enable smooth scrolling */
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#page-fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}


@keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#page-fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#page-fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}


.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}