.main-content {
    min-height: 100vh;
}

h1 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-size: 19px;
    font-family: Calibri, serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

@media (min-width: 768px) {
    h1 {
        font-size: 60px;
    }

    .stand-first {
        font-size: 26px;
    }

    .intro {
        font-size: 30px;
        margin: 0 0 60px;
    }

    p {
        margin: 0 0 30px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 22px;
    }
}

/* enable smooth scrolling */
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#page-fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}


@keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#page-fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#page-fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}
