body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.intro {
    padding: 0px 0px 0px;
    margin-top: 0px;
    background-color: #F9F9F9;
    width: 100%;
    font-family: "Bahnschrift SemiBold";
    text-align: left;
    font-weight: bold;
    position: relative;

}

.intro2 {
    padding: 15px 15px 25px;
    /*margin-top: 30px;*/
    background-color: #F9F9F9;
    width: 100%;
    font-family: "Bahnschrift SemiBold";
    text-align: left;
    font-weight: bold;
}

#scroll {
    position: absolute;
    bottom: 10%;
    width: 2.5%;
    margin: auto;
    left: 47%;
    transform: translateX(0%) scale(0.4);
}

#middle {
    padding: 15px 15px 25px;
    /* margin-top: 20px; */
    background-color: rgb(248, 238, 238);
    /* (247, 247, 247) */
    width: 100%;
    font-family: "Bahnschrift SemiBold";
}

#methods {
    padding: 15px 15px 25px;
    /* background-color:rgb(230, 243, 255); */
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-family: "Bahnschrift SemiBold";
    text-align: left;
    font-weight: bold;
}

#bottom {
    padding: 15px 15px 25px;
    /* margin-top: 20px; */
    background-color: rgb(0, 20, 37);
    width: 100%;
}

h1 {
    font-size: 70px;
    color: darkred;
}

h2 {
    color: rgb(26, 26, 26);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    height: 200px;
}

img {
    border-radius: 5px 5px 0 0;
}

.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#bibliography {
    font-size: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    padding-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    border-radius: 1px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(1, 7, 26);
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

p {
    /* font-family: monospace; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

@font-face {
    font-family: "boldflow";
    src: url('boldflow.woff2') format('woff2');
    font-weight: 600;
}

#start {
    background-color: #0569eb;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    outline: none;
}

#learnmore {
    background-color: #0569eb;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    outline: none;
}

#start:hover, #learnmore:hover {
    background-color: cornflowerblue;
}

#slide_methods {
    /* position:relative;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s; */
    text-align: center;
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* @-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
} */

.ch1 {
    padding-top: 40px;

    color: #ccc;
    text-align: center;
    font-size: 1.8rem;

    text-shadow: rgba(0, 0, 0, 0.6) 1px 0, rgba(0, 0, 0, 0.6) 1px 0, rgba(0, 0, 0, 0.6) 0 1px, rgba(0, 0, 0, 0.6) 0 1px;
}

.nav {
    margin: 20px auto;
}

.nav ul {
    position: relative;
    padding-top: 20px;
}

.nav li {
    position: relative;
    padding: 20px 3px 0 3px;
    float: left;

    text-align: center;
    list-style-type: none;
}

.nav li::before, .nav li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
    border-top: 1px solid #ccc;
}

.nav li::after {
    left: 50%;
    right: auto;

    border-left: 1px solid #ccc;
}

.nav li:only-child::after, .nav li:only-child::before {
    content: '';
    display: none;
}

.nav li:only-child {
    padding-top: 0;
}

.nav li:first-child::before, .nav li:last-child::after {
    border: 0 none;
}

.nav li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.nav li:first-child::after {
    border-radius: 5px 0 0 0;
}

.nav ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.nav li a {
    display: inline-block;
    padding: 5px 10px;

    border-radius: 5px;
    border: 1px solid #ccc;

    text-decoration: none;
    text-transform: uppercase;
    color: #ccc;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
}

.nav li a:hover, .nav li a:hover + ul li a {
    color: #000;
    background: #c8e4f8;
    border: 1px solid #94a0b4;
}

.nav li a:hover + ul li::after,
.nav li a:hover + ul li::before,
.nav li a:hover + ul::before,
.nav li a:hover + ul ul::before {
    content: '';
    border-color: #94a0b4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4f7cac;
    /*max-width: 100px;*/
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    /* text-decoration: none; */
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #94b4de;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


