.navbar {
    position: relative;
    background-color: #def7ff;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}


.nav__item a {
    display: block;
    padding: 1.5rem 1rem;
}

@media (min-width: 600px) {
    .nav_header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 600px) {
    .nav__wrapper {
        display: flex;
    }
}

@media (max-width: 599px) {
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: #d9f0f7;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }

    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}