.page-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

.article-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1060px;
    align-content: center;
}

.text-container {
    max-width: 900px;
}

.banner-subtitle {
    font-size: 1.5em;
    color: white;
}

.banner-author {
    text-decoration: none;
    color: white;
}

.banner-project-image {
    background-size: cover;
    background-position: center;
    padding: 200px 0 0px 0;
    position: relative;
    margin: 0 0 0px;
}

.banner-project-image h1 {
    color: white;
    font-size: 3em;
}

.heading {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
}

.banner-subtitle {
    color: white;
    font-size: 1.5em;
    margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
    .banner-project-image {
        padding: 400px 0 60px 0;
        margin: 0 0 0px;
    }
}

.project-card {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    border: gray;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #000000;
}

.image-cover-shadow {
    box-shadow: 0 0 0px 300px rgba(0, 0, 0, 0.5) inset;
}

.image-cover-shadow img {
    z-index: -1;
}

.project-card:hover {
    border: 2px solid dodgerblue;
}

.authorInfo {
    position: absolute;
    bottom: 8px;
    left: 8px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .page-title {
        font-size: 6.5vw;
        min-font-size: 6em;
    }
}