.card {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    border: gray;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid #000000;
}

.card:hover {
    border: 2px solid dodgerblue;
}

.publishInfo {
    box-shadow: black 0px 0px 100px;
    position: absolute;
    text-decoration: none;
    color: white;
    top: 8px;
    left: 16px;
    z-index: 10;
}