.project-card {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    border: gray;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid #000000;
}

.projects-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image-cover-shadow {
    box-shadow: 0 0 0px 300px rgba(0, 0, 0, 0.3) inset;
!important z-index: 10;
}

.image-cover-shadow img {
    position: relative;
!important;
    z-index: -1;
!important;
}

.project-card:hover {
    border: 2px solid dodgerblue;
}

.publishDate {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.projectInfo {
    position: absolute;
    bottom: 8px;
    right: 30px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    justify-content: left;
}


/* New */
.project-tags {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    margin-left: -6px;
    padding: 4px 18px;
    text-transform: uppercase;
}

.project-tags > li:first-child {
    margin-left: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.project-tags > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.project-tags li ul {
    list-style: none;
}

@media (min-width: 1025px) {
    .project-list li:first-of-type, .projectpage-listing li:first-of-type,
    .project-list li:nth-child(6), .projectpage-listing li:nth-child(6),
    .project-list li:nth-child(7), .projectpage-listing li:nth-child(7),
    .project-list li:nth-child(12), .projectpage-listing li:nth-child(12) {
        width: 50%;
    }
}

.project-list a {
    text-decoration: none;
}


.project-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.project-list-item a {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.project-list-item:hover img {
    opacity: 1;
}

.project-list-item .image {
    overflow: hidden;
    background-color: #afeee7;
    flex: 1 0 auto;
}

.project-list-item .image img {
    min-height: 510px;
    width: auto;
    min-width: 100%;
}

.project-list-item .text {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 23%, rgba(0, 0, 0, 1) 50%);
    margin-top: -150px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.project-list-item .text h2 {
    color: #fff;
    font-weight: 200;
    margin-top: 0;
}

.project-list-item .text p {
    color: #e3e3e3;
    font-size: 0.8em;
    margin-bottom: 0;
}

.project-list-item .footer {
    background-color: #333;
    color: #fff;
    margin-top: 0;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* used to style tags on project */
span.outline {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    padding: 3px 6px;
    text-transform: uppercase;
}

/* Project detail page */
.project-meta {
    margin-top: -40px;
    margin-bottom: 20px;
}

.project-avatar {
    border-radius: 100%;
    display: inline;
    width: unset;
}

.project-avatars {
    margin-bottom: 20px;
}

.project-avatars .author {
    display: inline-block;
    margin-right: 30px;
}
