body {
  margin-top: 0;
  margin-bottom:0;
  padding-bottom:20px;
  /*background-color:#BBFFEF;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  max-width:100%;

  background-color:#000080;


}
.image{

 text-align:center;

}
#img{

    max-width:90%;

}
#mar{
 margin-left:5%;
}


#imgcaption{

    font-family:Helvetica,sans-serif;

    color:#C0E0DE;

}
#cardboard{

    text-align:center;
    color:white;


}

.split {

  width: 49.99%;

  position: absolute;
    overflow-y:scroll;
    overflow-x:hidden;
  top: 200px;
  padding-top: 20px;

}

/* Control the left side */
.left {
  padding-bottom:40px;

  background-color:#3B7FF6;
   left:0;
    overflow-y:scroll;

}
.middle{
    left:50%;
    background-color:black;
}
/* Control the right side */
.right {
    text-align:center;

    right:0;
    overflow-y:scroll;
    padding-bottom:20px;

  background-color:  #000080;
}
#explain{
    color:white;
    font-family:Helvetica;
}
h2{
color:white;
font-size:40px;
}
