django~=4.0
django-tinymce
Pillow
mysqlclient
wagtail~=2.16.1
puput~=1.1.3
wagtailcodeblock
wagtailfontawesome
wagtail
wagtail-content-import
django-jquery
django-allauth
django-select2
sendgrid
django-webp