{% extends 'main/base.html' %}
{% block content %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}
<head>
    <link rel="stylesheet" href="{% static 'css/projects.css'%}">
</head>
<!-- add headline to the bottom left-->
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-0" style="font-weight: bold">Projects</h1>
    <hr>
    <div class="projects-page">
        {% for entry in entries %}
        <a href="/projects/{{project.slug}}">
            <div class="project-card draw image-cover-shadow" style="overflow: hidden">
                {% if entry.header_image %}
                <span>
                    {% image entry.header_image fill-300x300 as header_image %}
                    <img src="{{ header_image.url }}" class="" style="width: 100%; height: 100%; object-fit:cover;"/>
                    <div class="publishDate">Published on {{project.project_date.date}}</div>
                    <div class="projectInfo">{{project.project_name}}</div>
                </span>
                {% endif %}
            </div>
        </a>
        {% empty %}
        <span>{% trans 'No results found.' %}</span>
        {% endfor %}
    </div>
</div>
{% endblock %}
