{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/includes/footer.css' %}">
</head>
<div>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <!--h3>Projects</--h3>
                    <ul>
                        <li><a href="#">Temp<br/></a></li>
                        <li><a href="#">Temp<br/></a></li>
                        <li><a href="#">Temp</a></li>
                    </ul-->
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">Team</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>The Global Tech</h3>
                    <p>Applying innovative technologies to solve critical global issues.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">TheGlobalTech © 2022</p>
        </div>
    </footer>
</div>
