{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebarnav.css' %}">
    <script src="{% static 'js/sidebarnav.js' %}"></script>
</head>
<div>
    <nav class="navbar">
        <div class="container">
            <a href="" class="logo">EarthAI</a>
            <div class="navbar-right">
                <a class="active" href="">Home</a>
                <a href="/projects">Projects</a>
                <a href="/about-us">About Us</a>
                <a href="" onclick="openNav()">
                    <i class="material-icons">view_headline</i>
                </a>
            </div>
        </div>
    </nav>
    <div id="mySidebar" class="sidebarnav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
</div>