{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/includes/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/includes/sidebarnav.css' %}">
</head>
<div>
    <nav class="navbar" id="navBar">
        <div class="navcontainer">
            <a href="/" class="logo">EarthAI</a>
            <div class="navbar-right">
                {% if request.path == "/" %}
                <a class="active hideoverflow" href="/">Home</a>
                {% else %}
                <a class="hideoverflow" href="/">Home</a>
                {% endif %}
                {% if "/projects/" in request.path %}
                <a class="active hideoverflow" href="/projects">Projects</a>
                {% else %}
                <a class="hideoverflow" href="/projects">Projects</a>
                {% endif %}
                {% if request.path == "/about-us/" %}
                <a class="active hideoverflow" href="/about-us">About Us</a>
                {% else %}
                <a class="hideoverflow" href="/about-us">About Us</a>
                {% endif %}
                <a onclick="openNav()" class="sidebarnavid">
                    <i class="material-icons" style="">view_headline</i>
                </a>
            </div>
        </div>
    </nav>
    <div id="sideNavBar" class="sidebarnav sidebarnavid">
        <br>
        <br>
        <ul class="sidebarlist">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="">Home</a>
            <a class="" href="/projects">Projects</a>
            <a class="" href="/about-us">About Us</a>
        </ul>
    </div>
</div>
<script src="{% static 'js/sidebarnav.js' %}"></script>
