{% extends 'main/header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/aboutus.css'%}">
<!-- add headline to the bottom left-->
<div>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3 class="page-title text-center">Team</h3>
        <hr>
    </div>
    <div style="width: 100vw; background-color: #111111">
        <div class="container">
            <div class="banner">
                <figure style="width: 30%;" class="flex-start">
                    <blockquote class="blockquote mb-4">
                        <p>
                            <i class="fas fa-quote-left fa-lg text-white me-2"></i>
                            <span class="font-italic text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sint nesciunt ad itaque aperiam expedita officiis incidunt minus facere, molestias quisquam impedit inventore.</span>
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Aakash Kumar, <cite title="Source Title">Founder & CEO</cite>
                    </figcaption>
                </figure>
                <div class="banner-image">
                    <img src="/static/graphics/home_img.png" style="width: 100%; height: 100%;object-fit:cover;">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="authors">
            {% for author in team %}
            <div class="profile-card draw image-cover-shadow" style="overflow: hidden">
                <img src="/static/media/{{ author.userprofile.avatar }}" class="" style="width: 100%; height: 100%; object-fit:cover;"/>
                <div class="authorName">{{author.first_name}} {{author.last_name}}</div>
                <div class="authorRole">{{author.userprofile.role}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
