{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/aboutus.css'%}">
{% load spaceUnderscore %}
<!-- add headline to the bottom left-->

<div>
    <div style="width: 100vw; background-color: #111111">
        <div class="container">
            <div class="banner">
                <figure class="flex-start banner-text">
                    <blockquote class="blockquote mb-4">
                        <p class="banner-main-text">
                            <i class="fas fa-quote-left fa-lg text-white me-2"></i>
                            <span class="font-italic text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sint nesciunt ad itaque aperiam expedita officiis incidunt minus facere, molestias quisquam impedit inventore.</span>
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer banner-caption-text">
                        Aakash Kumar, <cite title="Source Title">Founder & CEO</cite>
                    </figcaption>
                </figure>
                <div class="banner-image banner-caption">
                    <img src="/media/profiles/IMG_0923.jpg" style="width: 100%; height: 100%;object-fit:cover;">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="page-title text-center">Team</h3>
        <hr>
    </div>
    <div class="container">
        <div class="authors">
            {% for author in page.team %}
            <a href="/team/{{author.userprofile.slug }}">
                <div class="profile-card draw image-cover-shadow" style="overflow: hidden">
                    <img src="/media/{{ author.userprofile.avatar }}" class="" style="width: 100%; height: 100%; object-fit:cover;"/>
                    <div class="authorName">{{author.first_name}} {{author.last_name}}</div>
                    <div class="authorRole">{{author.userprofile.role}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
