<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>EarthAI</title>
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'graphics/logo.ico' %}"/>
    <!--Tiny MCE-->

</head>

<body>
<svg id="fader">
    {% include "main/includes/navbar.html" %}
    {% block content %}
    {% endblock %}
</svg>
<script>
    fadeInPage();
</script>
</body>


<!-- Prism JS -->
</html>