<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>EarthAI</title>
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'graphics/logo.ico' %}"/>
    <!--Tiny MCE-->
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script>
        tinyMCE.init({
            force_br_newlines: true,
            force_p_newlines: true,
            forced_root_block: '' // Needed for 3.x
        });
    </script>
</head>

<body>
{% include "main/includes/navbar.html" %}
<div class="main-content">
    {% block content %}
    {% endblock %}
</div>
<svg id="fader"></svg>
<script>
    fadeInPage();
</script>
</body>
<!-- Prism JS -->
</html>