{% extends 'main/base.html' %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<!-- add headline to the bottom left-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
<div class="">
    <section class="home-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,0 50,100 0 0"/>
        </svg>
    </section>
</div>
{% endblock %}
