{% extends 'main/header.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<!-- add headline to the bottom left-->
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        {% for project in projects %}
        <div class="col s12 m6 l4">
            <a href="#"> <img src="static/media/{{ project.project_image }}" class="img-responsive img-thumbnail" style="object-fit: cover"/>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
