{% extends 'main/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/project.css'%}">
{% if page.project_image %}
{% image page.project_image fill-2560x1300 as image %}
<div class="container-fluid banner-project-image" style="background-image:url('{{ image.url }}'); {{ image.background_position_style }}">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="heading">{{ page.title }}</h1>
                {% if page.subtitle %}
                <p class="banner-subtitle">{{ page.subtitle }}</p>
                {% endif %}
                <div style="color:white">
                    <hr>
                    {% for author in page.authors.all %}
                    By
                    <a class="banner-author" href="/team/{{ author.user.userprofile.slug }}">{{ author.user.first_name }} {{ author.user.last_name }}</a>{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <p class="stand-first">{{ page.subtitle }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<!-- add headline to the bottom left-->
<div class="article-container shadow" style="background-color: #FFFFFF;">
    <br>
    <div style="min-height: 90vh; margin:0px 30px; overflow:hidden">
        {% image page.project_image fill-1000x500-c100 as project_image %}
        <div style="align-items: center">
            {% include_block page.body %}
        </div>
        {% for author in page.authors.all %}
        <a href="/team/{{author.user.userprofile.slug}}">
            <div class="project-card draw image-cover-shadow" style="overflow: hidden">
                <img src="/media/{{ author.user.userprofile.avatar }}" class="" style="width: 100%; height: 100%; object-fit:cover;"/>
                <div class="authorInfo">{{author.user.first_name}} {{author.user.last_name}}</div>
            </div>
        </a>
        {% endfor %}
        {% if page.get_tags %}
        <div style="min-height: 120px; min-width: 100%"></div>
        <hr>
        {% for tag in page.get_tags %}
        <a href="{{ tag.url }}" class="btn btn-sm">{{ tag }}</a>
        {% endfor %}
        {% endif %}
    </div>
    <br>
</div>
<br>
<br>
{% endblock %}
