{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/project.css'%}">
{% load spaceUnderscore %}
<!-- add headline to the bottom left-->
{% if page.image %}
{% image page.image fill-1920x600 as image %}
<div class="container-fluid banner-project-image" style="background-image:url('{{ image.url }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                <p class="stand-first">{{ page.subtitle }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <p class="stand-first">{{ page.subtitle }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="article-container">
    <h2 class="page-title">{{ project.project_name }}</h2>
    <p style="font-size:80%;margin-bottom: 0">Published {{ project.project_date.date }} by
        {% for author in project.project_authors.all %}
        {{author.first_name}} {{author.last_name}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <hr style="margin-top: 0">
    <div class="text-container">
        {{ project.project_article|safe }}
    </div>
    <hr>
    <br>
    {% for author in project.project_authors.all %}
    <a href="/team/{{author.username|spaceUnderscore}}">
        <div class="project-card draw image-cover-shadow" style="overflow: hidden">
            <img src="/media/{{ author.userprofile.avatar }}" class="" style="width: 100%; height: 100%; object-fit:cover;"/>
            <div class="authorInfo">{{author.first_name}} {{author.last_name}}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
