{% extends 'main/header.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/project.css'%}">
</head>
<!-- add headline to the bottom left-->
<div class="article-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="project-title">{{ project.project_name }}</h2>
    <p style="font-size:70%;">Published {{ project.project_date.date }} by
        {% for author in project.project_authors.all %}
        {{ author }}
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <br>
    <br>
    {{ project.project_article|safe }}
</div>
{% endblock %}
