{% extends 'main/base.html' %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<head>
    <link rel="stylesheet" href="{% static 'css/projects.css'%}">
</head>
<!-- add headline to the bottom left-->
<div class="container">
    {% if tag %}
    <div class="row">
        <div class="col-md-12">
            <p>Viewing all projects by <span class="outline">{{ tag }}</span></p>
        </div>
    </div>
    {% endif %}

    {% if page.get_child_tags %}
    <ul class="project-tags tags list-inline">
        {% for tag in page.get_child_tags %}
        <li><a href="{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row row-eq-height project-list">
        {% for project in page.projectPages %}
        <li class="col-xs-12 col-sm-6 col-md-3 project-list-item">
            <a href="{% pageurl project %}">
                <div class="image">
                    {% image project.project_image fill-850x450-c100 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}"
                         {% if image.focal_point %}
                         data-focus-x="{{ image.focal_point.centroid.x }}"
                         data-focus-y="{{ image.focal_point.centroid.y }}"
                         data-focus-width="{{ image.focal_point.width }}"
                         data-focus-height="{{ image.focal_point.height }}"
                         {% endif %}
                         style="width: 100%; height: 100%; object-fit: cover;">
                         class=""/>
                </div>
                <div class="text">
                    <h2 class="project-list-title">{{ project.title }}</h2>
                    <p>{{ project.introduction|truncatewords:15 }}</p>
                </div>
                <div class="small footer">
                    {{ project.date_published }} by
                    {% for author in project.authors.all %}
                    {{ author.user.first_name }} {{ author.user.last_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </a>
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
