{% extends 'main/header.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<!-- add headline to the bottom left-->
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        {% for project in projects %}
        <div class="col s12 m6">
            <div class="card blue-grey darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title">{{project.project_name}}</span>
                    <!-- image -->
                    <p>"/home/aakash/Documents/Projects/Python/EnvironmentML/EnvironmentML/media/{{project.project_image}}"</p>
                    <img src="project_images/trash.png" alt="">
                    <p style="font-size:70%">Published {{project.project_date}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
