{% extends 'main/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/project.css'%}">
<!-- add headline to the bottom left-->
<div class="article-container shadow" style="background-color: #FFFFFF;">
    <br>

    <div style="min-height: 90vh; margin:0px 30px; overflow:hidden">
        <h1>{{page.title}}</h1>
        {% image page.project_image original as project_image %}
        <img src="{{project_image.url}}" style="width:100%; max-height:10%">
        {% include_block page.body %}
    </div>
    <br>
</div>
{% endblock %}
