{% extends 'main/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<link href="{% static 'css/project_page.css' %}" rel="stylesheet">
<section class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">{{page.title}}</h1>
                    <p class="text-center"><span class="by">by</span>
                        {% for author in page.authors.all %}
                        <a class="banner-author" href="/team/{{ author.userprofile.slug }}">{{ author.user }} </a>{% if not forloop.last %},{% endif %} {% endfor %}
                        <span class="date">{{page.date}}</span></p>
                    {% if page.show_image_on_page %}
                    {% image page.project_image original format-webp as project_image %}
                    <img class="img-fluid" src="{{ project_image.url }}" style="width:100%; object-fit: cover;"
                         alt="{{ project.title }}"
                         {% if project_image.focal_point %}
                         data-focus-x="{{ project_image.focal_point.centroid.x }}"
                         data-focus-y="{{ project_image.focal_point.centroid.y }}"
                         data-focus-width="{{ project_image.focal_point.width }}"
                         data-focus-height="{{ project_image.focal_point.height }}"
                         {% endif %}
                    >
                    {% endif %}
                </div>
                <div class="text">
                    {% include_block page.body %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
