{% extends 'main/base.html' %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<head>
    <link rel="stylesheet" href="{% static 'css/projects.css'%}">
</head>
<!-- add headline to the bottom left-->
<div class="container">
    <h1 class="display-0" style="font-weight: bold">Projects</h1>
    <hr>
    <div class="projects-page">
        {% for project in page.projectPages %}
        <a href="/projects/{{project.slug}}">
            <div class="project-card draw image-cover-shadow" style="overflow: hidden">
                <img src="/media/{{ project.project_image }}" class="" style="width: 100%; height: 100%; object-fit:cover;"/>
                <div class="publishDate">Published on {{project.project_date.date}}</div>
                <div class="projectInfo">{{project.project_name}}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
