.main-footer {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    background-color: black;
    color: lightgray;
    text-align: center;
    clear: both;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.footer-tile-text {
    line-break: unset;
    color: white;
}