.footer {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    background-color: #4DB4D7;
    color: lightgray;
    text-align: center;
    clear: both;
    height: 80px;
    align-items: center;
    justify-content: center;
}